appdirs==1.4.4
appnope==0.1.0
backcall==0.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
decorator==4.4.2
Django==2.2
django-cors-headers==3.4.0
djangorestframework==3.11.0
fake-useragent==0.1.11
idna==2.10
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
lxml==4.5.1
parse==1.15.0
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pyee==7.0.2
Pygments==2.6.1
pyppeteer==0.2.2
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-html==0.10.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
tqdm==4.47.0
traitlets==4.3.3
urllib3==1.25.9
w3lib==1.22.0
wcwidth==0.2.5
websockets==8.1
